/* Condensed Universal CSS Reset */

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: arial;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
  }
  
  /* Stylesheet */
  
  #wrapper {
    width: 970px;
    padding: 40px;
    margin: 20px;
    background-color:skyblue;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  img {
    display: block;
    width: 250px;
    margin: 0 auto 10px auto;
    border: 1px solid lightgrey;
  }
  